:root{
    --branca-principal: #fff;
    --cinza-secundaria: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branca-principal);
}

.background{
    background-image: url("./img/Background.png");
    height: 556px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}