@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

:root{
    --branca-principal: #fff;
    --cinza-secundaria: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branca-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.background{
    background-image: url("./img/Background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__caixa{
    margin: 0 6em;
}

.container__titulo{
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branca-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
    text-align: center;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branca-principal);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundaria);
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branca-principal);
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundaria);
    font-size: 1em;
}

.terciario__imagem{
    width: 80%;
}

.terciario{
    align-items: center;
    margin: 0 10em;
}

.descricao__link{
    display: inline-block;
    padding: 1em;
    color: var(--branca-principal);
    font-size: 1rem;
    background-color: var(--botao-azul);
    border-radius: 5px;
    text-decoration: none;
    margin-top: 1em;
}

.container__descritorio{
    padding: 2em;
}

.container__telas{
    text-align: center;
}

.telas__titulo{
    font-size: 3rem;
    font-weight: bold;
    margin: 0.5em 0;
}

.telas__grupo{
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.telas__icon{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1em;
    width: auto;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo{
    margin-bottom: 1.5em;
}

.informacoes a{
    text-decoration: none;
    color: var(--branca-principal);
    font-size: 1em;
    margin-bottom: 1.5em;
}

.direitos{
    color: var(--branca-principal);
    font-size: 0.8em;
    margin-top: 1.5em;
}

.informacoes a:hover{
    color: var(--botao-azul);
}

.informacoes a:active{
    color: var(--cinza-secundaria);
}